.door, .content {
    position: absolute;
    top: 50px;
    left: 50px;
}

.door {
    background: green;
    border: 1px solid black;
    display: none;
    height: 200px;
    width: 200px;
    display: inline-block;
    z-index: 1;
    transition: all .05s ease-in-out;
}

.door.open {
    height: 150px;
    transform: perspective(200px) rotateY(45deg);
}

.door:hover {
    transform: rotate(25deg);
}

.content {
    border: 1px solid green;
    display: inline-block;
    height: 200px;
    width: 200px;
    z-index: -1;
    text-align: right;
}
